<a href="https://colab.research.google.com/github/4110E238/cs2022/blob/main/1019_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python** **Conditions** **and** **If** **statements**

**Example**
**If** **statement**:

In [1]:
a = 33
b = 200
if b > a:
  print("Saitama is greater than Meliodas")

Saitama is greater than Meliodas

**Indentation**

In [5]:
a = 33
b = 200
if b > a:
 print("Saitama is greater than Meliodas")

Saitama is greater than Meliodas

**Elif**

In [ ]:
a = 33
b = 33
if b > a:
  print("John is greater than Jovie")
elif a == b:
  print("John and Jovie are equal")

John and Jovie are equal

**Else**

In [ ]:
a = 200
b = 33
if b > a:
  print("John is greater than Jovie")
elif a == b:
  print("Jovie and John are equal")
else:
  print("Jovie is greater than John")

Jovie is greater than John

**In this example a is greater** **than b, so the first condition is not true, also the elif condition is not true**, **so we go to the else condition and print to screen that "a is greater than b"**.

**You can also have an else without the elif**:

In [ ]:
a = 200
b = 33
if b > a:
  print("John is greater than Jovie")
else:
  print("John is not greater than Jovie")

John is not greater than Jovie
John is not greater than Jovie

**Short Hand If**

In [ ]:
if a > b: print("Jovie is greater than John")

Jovie is greater than John

**Short Hand If ... Else**

In [3]:
a = 2
b = 330
print("Mild") if a > b else print("Hawk")

Hawk

**Ternary** **Operators**, or **Conditional** **Expressions**.

**You** **can** **also** **have multiple else statements on the same line**:

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

**And**

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**Or**

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**Nested** **If**

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

**The** **pass** **Statement**

In [ ]:
a = 33
b = 200

if b > a:
  pass